/** 刷新块 */

.timeRefresh {
  & > div:first-child {
    input {
      display: inline-block;
      margin-left: 15px;
      border-radius: 6px;
      padding: 1px 10px;
      border: none;
      box-shadow: none;
      transition: box-shadow 0.4s;

      &:hover {
        box-shadow: 1px 3px 8px #f0f2;
        transition: box-shadow 0.4s;
      }
    }
  }

  /** 单选按钮组 */
  & > div:nth-child(2) {
    width: 100%;
    margin: 30px auto 0px;
    padding: 0px 0px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    line-height: 100%;
    justify-content: space-between;
    justify-items: stretch;
    align-content: center;
    align-items: baseline;

    /* 输入框和按钮（被注释部分） */
    & + div {
      margin: 15px auto 5px;

      & input {
        min-width: 5rem;
        height: 1.8rem;
        line-height: 1.8rem;
        padding: 0px 8px;
        border-radius: 6px;
        border: none;
        padding-block: 0px;

        &:focus-visible {
          outline: none;
          box-shadow:
            1px 1px 6px #fff inset,
            -1px -1px 6px #fff inset,
            -1px 1px 6px #fff inset,
            1px -1px 6px #fff inset;
        }
      }
    }
  }
}

/** 时间展示 */
.timeShow {
  margin: 10px;
  padding: 2px 20px;
  box-shadow: 0 5px 8px 0 #0006;
  background-color: #000;
  border-radius: 10px;

  div {
    color: transparent;
    font-size: 1.5rem;
    text-align: center;
    background-image: linear-gradient(45deg, #ff0, #0f0, #f00, #0ff, #00f, #f0f, #ff0);
    background-position: 0% 0%;
    background-size: 400% 100%;
    background-clip: text;
    border-radius: 10px;
    transition: box-shadow 0.8s;
    animation: 7s linear 0s infinite timeBackImage;

    &:first-child {
      font-size: 1.2rem;
    }

    &:last-child {
      text-align: left;
      font-size: 0.8rem;
      // height: 2.4rem;
      line-height: 1.6rem;
    }

    &:hover {
      transition: box-shadow 0.8s;
      box-shadow: var(--box-shadow);
    }
  }
}

@keyframes timeBackImage {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 400% 0%;
  }
}
